.map-frame {
  border-top: 1px solid rgb(209 213 219);
  border-bottom: 1px solid rgba(209, 213, 219, 0.7);
}

.top-sign {
  
                      /* sin(rotation angle) */
  transform: perspective(calc(60px)) rotateX(-10deg);
  border-left: 1px solid rgb(209 213 219);
  border-right: 1px solid rgb(209 213 219);
  top: 2px;
}

.top-bar {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  height: 60px;
}

.details {
  background-color: rgba(209, 213, 219, 0.7);
}

.top-details {
  width: 30px;
  left: calc(50% - (30px/2) );

  background-color: rgb(209, 213, 219);
}

.inset-shadows {
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.4);
}

.small-map-frame {
  border-top: 1px solid rgb(209 213 219);
  border-bottom: 1px solid rgba(209, 213, 219, 0.7);
}

.small-map-frame-glow {
  transition: box-shadow 0.3s ease;
  transition: background-color 0.3s ease;
}

.small-map-frame:hover > .small-map-frame-glow {
  box-shadow: inset 0px 0px 30px rgba(255, 229, 165, 0.2);
  background-color: rgba(255, 255, 255, 0.1)
}

.small-map-frame-label {
  color: rgba(209, 213, 219, 0.7);
}

.dialog {
  background-color: rgba(13, 40, 66, 0.9);
  border-top: 1px solid rgb(209 213 219);
  border-bottom: 1px solid rgba(209, 213, 219, 0.7);
}

.button-container {
  padding: 3px;
}

.button-overlay {
  outline: 3px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease-out;
  transition: outline-color 0.3s ease-out;
  width: 100%;
  height: 100%;
}

.button-corners-container {
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  transition: 0.3s ease-out;
}

.button-corners {
  width: 3px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.3);
}

.button-overlay:hover {
  background-color: rgba(255, 255, 255, 0.2);
  outline-color: hsla(55, 80%, 70%, 0.85);
}

.button-overlay:hover > .button-corners-container {
  width: calc(100% - 12px);
  height: calc(100% - 12px);
}

.button-overlay:hover .button-corners {
  background-color: hsla(55, 80%, 70%, 0.85);

}