@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vred: #fe4654;
  --vblack: #101723;
  --vwhite: #e8e7e5;
  --vgreen: #47ffbc;
  --vsky: #22d3ee;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
